<div class="fullscreen-bg">
    <img class="fullscreen-bg__image" src="/img/ianjones01.jpg">
</div>
<div class="container">
    <h1>About</h1>

    <p>I am a wedding photographer located in <a href="https://www.google.com/maps/place/West+Palm+Beach,+FL" target="_blank">West Palm Beach, FL.</a></p>
    <a href="https://www.google.com/maps/place/West+Palm+Beach,+FL" target="_blank"><img class="mapImg" src="/img/wpb.png"></a>
    <p>My approach in wedding photography is to capture the beautiful expression of love, candid moments, and the small details of a wedding.</p>
    <p>My goal is to craft a beautiful, energetic image that evokes feelings. Ultimately, telling a story through my photography.</p>
    <p>I direct and compose each image and I also do documentary photography. </p>
    <a class="ghost-button home_b margin-bottom-two" href="inquire">Inquire</a>
</div>
