    <div class="fullscreen-bg ">
        <video loop muted autoplay class="fullscreen-bg__video">
                <source src="vid/25mb.mp4" type="video/webm">
                <source src="vid/107mb.mp4" type="video/mp4">
                <!--<source src="vid/25mb.mp4" type="video/mp4">-->
                <!--<source src="vid/big_buck_bunny.ogv" type="video/ogg">-->
                    <!--<source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.mp4" type="video/mp4">
                    <source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.ogv" type="video/ogg">
                    <source src="http://dev2.slicejack.com/fullscreen-video-demo/video/big_buck_bunny.webm" type="video/webm">-->
            </video>
    </div>
    <div class="container centered">
        <h1>Passion. Commitment. Forever.</h1>
        <p>leorm ipsum tenebras lux emoi gar too sin christos kai tu apathanein kerdos leorm ipsdj jahs jlfdsdsfn fdjs the roof upon the road int he forest</p>
        <a class="ghost-button margin-two" href="#">Inquire</a>
    </div>