    <div class="fullscreen-bg ">
        <video loop muted autoplay class="fullscreen-bg__video">
                <source src="vid/25mb.mp4" type="video/webm">
                <source src="vid/107mb.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container centered">
        <p id="home_p">To Capture</p>
        <h1 id="ctaHeading" class="home_h1"></h1>
        <a class="ghost-button home_b margin-bottom-two" href="inquire">forever</a>
    </div>
    <script>
        var CTATitle = ["Passion","Commitment","Joy","Love"];
        var i = 0;
        function updateCTA() {
            $("#ctaHeading").fadeOut(2500,function() {
                i++;
                if (i > CTATitle.length) { i = 0; }
                $("#ctaHeading").text(CTATitle[i]);
                $("#ctaHeading").fadeIn(2500);
            })
        }
        $(document).ready(function(){
            $("#ctaHeading").text(CTATitle[i]);
            setInterval(updateCTA,2500);
        })
    </script>