<!doctype html>
<html class="no-js" lang="" style="opacity:0;" ng-app="ijj">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>ian joseph jones</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="mainController">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="fixed-nav-bar">
        <div id="menu" class="menu">
            <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
            <ul class="menu-items">
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="experience">Experience</a></li>
                <li><a href="appraise">Appraise</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="inquire">Inquire</a></li>
            </ul>
        </div>
    </nav>
    <!-- Add your site or application content here -->
    <div ng-view>
    </div>
    <footer>
        <strong>|</strong> <a href="#" target="_blank">pintrest</a> 
        <strong>|</strong> <a href="https://www.facebook.com/ianjosephjones/" target="_blank">facebook</a> 
        <strong>|</strong> <a href="https://www.instagram.com/ianjosephjones/" target="_blank">instagram</a> 
        <strong>|</strong> <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.ianjosephjones.com%2Fcontact%2F" target="_blank">twitter</a> <strong>|</strong> 
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/angular-route.min.js"></script>
    <script src="/js/vendor/angular-animate.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>