<div class="fullscreen-bg">
    <img class="fullscreen-bg__image" src="/img/wedding04.jpg">
</div>
    <div class="container">
        <h1>Inquire</h1>
        <p>inquire page</p>
        <div class="inquire_form centered">
            <form>
                <div>
                    <label>name:</label>
                </div>
                <div>
                    <input />
                </div>
                <div>
                    <label>comment:</label>
                </div>                
                <div>
                    <textarea></textarea>
                </div>
                <div>
                    <input type="submit" value="send"/>
                </div>                
            </form>
        </div>
    </div>