/***** Background *****/
body {
    background-color: #000;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -98;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -99;
}

.fullscreen-bg__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -99;
}

@media (max-width: 816px) {
    .fullscreen-bg {
        background: url('/img/redbaloonsBW.jpg') center center / cover no-repeat;
    }
    .fullscreen-bg__video {
        display: none;
    }
}


/***** Footer *****/

footer {
    /*display: none;*/
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .6rem;
    font-size: 2.5vmin;    
    /*background-color: rgba(0, 0, 0, 0.15);*/
    text-align: center;
    color: #fff;
    /*color: #F5F5DC;*/
    font-family: newbskvll_btitalic, Times, Georgia, serif;
}

footer * {
    display: none;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #fff;
    /*color: #F5F5DC;*/
    transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
}

footer a:hover,
footer a:target {
    text-decoration: none;
    color: #FFB347;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
}


/***** Navigation *****/

.fixed-nav-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.45);
}

.fixed-nav-bar li,
.fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
}

.menu {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.menu a:visited,
.menu a {
    color: #fff;
    /*color: #F5F5DC;*/
    transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
}

.menu a:hover,
.menu a:target {
    color: #FFB347;
    /*#CFCFC4*/
    transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
}

.menu-items {
    display: inline-block;
    padding: 0px;
    width: 100%;
}

.menu-items li {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    display: none;
    margin-right: 18px;
    margin-left: 18px;
}

.menu-items a {
    font-size: 3vmin;    
    text-decoration: none;
}

.show,
.hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
}

.show {
    background-image: url(/img/down-arrow-icon.png);
}

.hide {
    background-image: url(/img/up-arrow-icon.png);
}

@media only screen and (max-width: 1000px) {
    .menu {
        width: 100%;
        max-width: 960px;
        margin: auto;
    }
    .menu-items li {
        margin-right: 12px;
        margin-left: 12px;
    }
}

@media only screen and (max-width: 1100px) {
    .menu-items li {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 950px) {
    .menu-items li {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 880px) {
    .menu-items li {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 850px) {
    .menu-items li {
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 816px) {
    .menu {
        position: relative;
        width: 100%;
    }
    .sitename {
        position: absolute;
        top: 0;
        left: 15px;
        margin-left: 0px;
    }
    .menu-items {
        display: none;
        width: 100%;
        margin-top: 50px;
        background-color: #008378;
    }
    .menu-items li {
        display: block;
        text-align: center;
    }
    .show,
    .hide {
        position: absolute;
        top: 0;
        right: 15px;
    }
    .show {
        display: inline-block;
    }
    .hide {
        display: none;
    }
    #menu:target .show {
        display: none;
    }
    #menu:target .hide,
    #menu:target .menu-items {
        display: inline-block;
    }
}

@media only screen and (max-width: 220px) {
    .sitename,
    .show,
    .hide {
        font-size: 14px;
    }
}




.ghost-button {
    display: inline-block;
    width: 30vmin;
    padding: 8px;
    font-size: 7vmin;    
    color: #fff;
    /*color: #F5F5DC;*/
    border: 2px solid #fff;
    /*border: 2px solid #F5F5DC;*/
    text-align: center;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
}


.margin-two {
    margin: 2em;
}

.margin-bottom-two {
    margin-bottom: 2em;
}

.ghost-button:hover,
.ghost-button:active {
    border-color: #000;
    background-color: #FFB347;
    color: #000;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
}

.padding-bottom {
    padding-bottom: 10%;
}

/* The starting CSS styles for the enter animation */
.ng-enter {
  transition:0.7s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.ng-leave {
  transition:0.2s linear all;
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}


/***** Content *****/

.container {
    color: #fff;
    /*color: #F5F5DC;*/
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    /*position: absolute;*/
    margin-top: 7%;
    /*left: 50%;*/
    width: 100%;
    /*transform: translateX(-50%) translateY(-50%);*/
}

.container h1 {
    font-family: "Futura PT W02 Heavy",Futura,"Trebuchet MS",Arial,sans-serif;
    font-size: 12.25vmin;
    letter-spacing: .185vmin;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

.container p {
    font-family: newbskvll_btitalic,Times,Georgia,serif;
    color: #fff;
    /*color: #F5F5DC;*/
    font-size: 5.25vmin;
    letter-spacing: .185vmin;
    padding-right: 5%;
    padding-left: 5%;
}

.centered {
    position: absolute;
    margin-top: initial;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-40%);
    text-align: center;
}

.home_h1 {
    font-size: 7.25vmin;
}

#home_p {
    font-family: newbskvll_btitalic,Times,Georgia,serif;
    font-size: 7.25vmin;
    font-style: italic;    
}

.home_b {
    font-family: newbskvll_btitalic,Times,Georgia,serif;
    font-style: italic;    
}


@media only screen and (max-width: 816px) {
    .container {
        font-size: 1.3em;
    }
}

/***** carousel *****/
.slickDiv {
    margin: 3%;
}

.thumbnail {
    height: 300px;
    width: 100%;
}

.slick-initialized .slick-slide {
    margin-left: 3px;
    margin-right: 3px;
}