/***** Background *****/

body {
    background-color: #000;
}

::-webkit-scrollbar { 
    display: none; 
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -98;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -99;
}

.fullscreen-bg__image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -99;
}

@media (max-width: 816px) {
    .fullscreen-bg {
        background: url('/img/ianjones03.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg.port {
        background: url('') center center / cover no-repeat;
    }
    .fullscreen-bg__video {
        background: url('/img/ianjones03.jpg') center center / cover no-repeat;
        display: none;
    }
}

a,
a:visited {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
}

a:hover {
    text-decoration: none;
    color: #FFB347;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
}


/***** Footer *****/

footer {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .6rem;
    font-size: 2.5vmin;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    color: #fff;
    font-family: newbskvll_btitalic, Times, Georgia, serif;
}

footer * {
    display: none;
}

/***** Navigation *****/

.fixed-nav-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.45);
}

.fixed-nav-bar li,
.fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
}

.menu {
    width: 100%;
    margin: auto;
}

.menu-items {
    display: inline-block;
    padding: 0px;
    width: 100%;
}

.menu-items li {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    display: none;
    margin-right: 18px;
    margin-left: 18px;
}

.menu-items a {
    font-size: 2.8vmin;
    text-decoration: none;
}

.show {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
    font-size: 3em;
    margin: 2%;
}

@media only screen and (max-width: 1000px) {
    .menu {
        max-width: 960px;
    }
    .menu-items li {
        margin-right: 12px;
        margin-left: 12px;
    }
}

@media only screen and (max-width: 1100px) {
    .menu-items li {
        margin-right: 15px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 950px) {
    .menu-items li {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 880px) {
    .menu-items li {
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 850px) {
    .menu-items li {
        margin-right: 6px;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 816px) {
    .fixed-nav-bar {
        z-index: 10;
        background-color: rgba(0, 0, 0, 0);
    }
    .fixed-nav-bar li {
        height: 20vmin;
    }

    .menu {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .menu-items {
        display: none;
        width: 100%;
        padding-top: 10%;
        margin-top: 0px;
        height: 100%;
    }
    .menu-items li {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, .7);
    }
    .menu-items a {
        font-size: 6vmin;
    }
    .show {
        position: absolute;
        top: 0;
        right: 15px;
    }
    .show {
        display: inline-block;
    }
    @media screen and (orientation:landscape) {
        .fixed-nav-bar li {
            height: 10vmin;
            line-height: 10px;
        }
        .menu-items a {
            font-size: 10vmin;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 220px) {
    .sitename,
    .show {
        font-size: 14px;
    }
}

/***** button *****/

.ghost-button {
    display: inline-block;
    width: 30vmin;
    padding: 8px;
    font-size: 7vmin;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, font-color 0.3s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
    border-color: #000;
    background-color: #FFB347;
    color: #000;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in, font-color 0.3s ease-in;
}

/***** general *****/

img {
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.margin-two {
    margin: 2em;
}

.margin-bottom-two {
    margin-bottom: 2em;
}

.padding-bottom {
    padding-bottom: 10%;
}

/***** ng-view *****/

/* The starting CSS styles for the enter animation */

.ng-enter {
    transition: 0.7s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */

.ng-enter.ng-enter-active {
    opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */

.ng-leave {
    transition: 0.2s linear all;
    opacity: 1;
}

.ng-leave.ng-leave-active {
    opacity: 0;
}

/***** Content *****/

.container {
    color: #fff;
    text-shadow: horizontal-offset vertical-offset blur color;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    text-align: center;
}

.container h1 {
    font-family: "Futura PT W02 Heavy", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12.25vmin;
    letter-spacing: .185vmin;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container p {
    font-family: newbskvll_btitalic, Times, Georgia, serif;
    color: #fff;
    font-size: 5.25vmin;
    letter-spacing: .185vmin;
    padding-right: 10%;
    padding-left: 10%;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.home_h1 {
    font-size: 7.25vmin;
}

#home_p {
    font-family: newbskvll_btitalic, Times, Georgia, serif;
    font-size: 7.25vmin;
    font-style: italic;
}

.home_b {
    font-family: newbskvll_btitalic, Times, Georgia, serif;
    font-style: italic;
}

.inquire_form {
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
}

.inquire_form input[type="text"] {
    width: 20em;
    height: 3em;
}

.inquire_form textarea {
    width: 20em;
    height: 20em;
}

@media only screen and (max-width: 816px) {
    .container {
        font-size: 1.3em;
    }
    .centered {
        position: absolute;
        margin-top: initial;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%) translateY(-40%);
        text-align: center;
    }
}


/***** carousel *****/

.slickDiv {
    margin: 3%;
}

.thumbnail {
    height: 300px;
    width: 100%;
}

.slick-initialized .slick-slide {
    margin-left: 3px;
    margin-right: 3px;
}

/***** map *****/

.mapImg {
    width: 60vmin;
}

/***** arrow bounce *****/

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: rotate(180deg);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: rotate(180deg);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.Darrow {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    width: 37px;
    height: 40px;
    background-image: url(/img/down-arrow.png);
    background-size: contain;
        height: 21px;
}

.bounce {
    -moz-animation: bounce 2s 1;
    -webkit-animation: bounce 2s 1;
    animation: bounce 2s 1;
}

@media only screen and (max-width: 816px) {
    .Darrow {
        margin-left: -40px;
    }
}

a.show:hover {
    text-decoration: none;
    color: #fff;
}

